body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, aquamarine, lightgreen, rgb(5, 182, 5));

}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  background: linear-gradient(-135deg, aquamarine, lightgreen, rgb(5, 182, 5));
}
.container .title{
  font-size: 25px;
  font-weight: 500px;
  position: relative;
}
.container .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg,  lightgreen, green);
}

.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px 12px 0px;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% /2 - 20px);
}

.user-details .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid ccc;
  padding-left: 15px;
  font-size: 16px;
  /* transition: all 0.3s ease; */
  transition: border-bottom-width .1s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #86A8E7;
  border-bottom-width:4px;

}

form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .catagory{
  display: flex;
  width: 80%;
  margin: 14px 0px;
  justify-content: space-between;
}

.gender-details .catagory label{
  display: flex;
  align-items: center;
}

.gender-details .catagory .dot{
  height: 10px;
  width: 10px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
}
.same-cat:hover{
  cursor: pointer;
}

#dot-1:checked ~ .catagory label .one,
#dot-2:checked ~ .catagory label .two,
#dot-3:checked ~ .catagory label .three{
  border-color: #d9d9d9;
  background: rgb(13, 219, 48);
  transition: all 0.3s ease;
}

form input[type="radio"]{
  display: none;
}

form .button{
  height: 45px;
  margin: 45px 0px;
}

form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;

  background: linear-gradient(136deg, gray , green, gray);
  transition: border-radius 0.2s ease, background 0.8s ease, color 0.2s ease;

}

form .button input:hover{
  border-radius: 30px;
  background: linear-gradient(136deg, green, gray, green);
  cursor: pointer;
}

@media (max-width: 584px){
  .container{
    max-width: 100%;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-details .catagory{
    width: 100%;
  }
  

  .container form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 0;
  }
}